<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
  <h1>Teste de upload de imagens</h1>
  <form action="api/users" method="post" enctype="multipart/form-data">
    <input type="text" name="name" id="name" placeholder="name">
    <input type="email" name="email" id="email" placeholder="email">
    <input type="password" name="password" id="password" placeholder="password">
    <input type="file" name="avatar" id="avatar">
    <input type="submit" value="Upload Image" name="submit">
  </form>

  <h1>Teste de upload de imagens para o veículo 1 do acidente 1</h1>
  <form action="api/accidents/1/vehicles/1/pictures" method="post" enctype="multipart/form-data">
    <input type="file" name="picture" id="picture">
    <input type="submit" value="Upload Image" name="submit">
  </form>

  <h1>Teste de upload de assinatura para o actor 1 do acidente 1</h1>
  <form action="api/accidents/1/actors/1" method="put" enctype="multipart/form-data">
    <input type="file" name="signature" id="signature">
    <input type="submit" value="Upload signature" name="submit">
  </form>
</body>
</html>