<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Auto de Acidente de Viação</title>
</head>
<body>
  <header>
    <h1>Auto do Sinistro</h1>
  </header>

  <dl>
    <dt>ID</dt>
    <dd>{{ accident.id }}</dd>
    <dt>Data de ocorrência</dt>
    <dd>{{ accident.date }}</dd>
  </dl>

  <section>
    <h2>Intervenientes</h2>
  </section>

  <section>
    <h2>Veículos</h2>
  </section>
</body>
</html>
